{% extends "base.html" %}
{% block title %}Add Section{% endblock %}


{% block body %}
        <div id = "main">
            <div id = "background-canvas">
            <div id = "canvas">
                <div id = "add-body">
                    <h1 style="text-align: center;">Add New Section</h1>
                    <br/>
                    <form action="{{ url_for('add_section') }}" method="post">
                        <form >
                        <div class="form-floating mb-3">
                            <input for="validationDefault01" class="form-control" id="floatingInput validationDefault01" placeholder="Title" required="" name="section_name">
                            <label for="floatingInput">Section Name</label>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1 validationDefault01" class="form-label">Description:</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1 validationDefault01" rows="5" name="description" required=""></textarea>
                        </div>
                        <div style="text-align: center;">
                            <a class="btn btn-danger" href="/sections" role="button">Cancel</a>
                            <input class="btn btn-success" type="submit" value="Add">
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>

{% endblock %}